@import '../../styles/colors';
@import '../../styles/mixins';

.main-container {
    max-width: 900px;
    margin-bottom: 50px;
    position: relative;

    .first-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 25px 0;
        width: 100%;

        .left-col {

            h1 {
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 0;
            }

            p {
                font-size: 13px;
                margin-top: 5px;

                &.secondary-dark {
                    color: $secondary-color-dark;
                }

                &.secondary-light {
                    color: $secondary-color-light;

                }
            }
        }

        .right-col {
            display: flex;
            gap: 18px;

            .dropdown-filter {
                cursor: pointer;
                position: relative;

                .filter-btn {
                    display: flex;
                    align-items: center;
                    gap: 12px;

                    p {
                        font-size: 15px;
                        font-weight: 700;
                    }

                    .arrow-up {
                        transform: rotate(unset);
                        transition: all 0.2s ease;
                    }
                    
                    .arrow-down {
                        transform: rotate(-180deg);
                        transition: all 0.2s ease;
                    }
                }

                .filter-modal {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 0 24px;
                    gap: 17px;
                    right: 0;
                    width: 192px;
                    height: 128px;
                    border-radius: 8px;
                    visibility: hidden;
                    z-index: 1;
                    opacity: 0;
                    transform: translateY(-20%);
                    transition: all 0.2s ease;

                    &.show {
                        opacity: 1;
                        visibility: unset;
                        transform: translateY(0);
                    }

                    &.dark {
                        @include dark-invoice;
                        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                    }

                    &.light {
                        @include light-invoice;
                        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                    }

                    .filter-status-container {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 13px;

                        

                        &.draft-container:hover .checkbox-placeholder {
                            border: 1px solid #7C5DFA;

                        }

                        &.pending-container:hover .checkbox-placeholder {
                            border: 1px solid #7C5DFA;

                        }

                        &.paid-container:hover .checkbox-placeholder {
                            border: 1px solid #7C5DFA;

                        }

                        .checkbox-placeholder {
                            width: 16px;
                            height: 16px;
                            background: var(--05, #DFE3FA);
                            border-radius: 2px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            

                            &.active {
                                background-color: #7C5DFA;
                            }
                        }

                        input {
                            display: none
                        }

                        label {
                            font-weight: 700;
                            font-size: 15px;
                            cursor: pointer;
                        }
                    }

                }


            }

            button {
                width: 90px;
                border-radius: 24px;
                border: none;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 8px;
                background-color: #7C5DFA;
                padding: 6px;
                cursor: pointer;

                span {
                    font-size: 15px;
                    font-weight: 700;
                    color: #fff;
                    font-family: inherit;
                    margin-right: 15px;
                }
            }

        }
    }

    .invoices-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        .invoice-hero {
            border-radius: 8px;
            height: 134px;
            padding: 25px;
            width: 100%;
            max-width: 400px;

            &.invoice-hero-dark {
                @include dark-invoice
            }

            &.invoice-hero-light {
                @include light-invoice
            }

            a {
                text-decoration: none;
                color: inherit;
                height: 100%;
                display: grid;
                grid-template-columns: 1fr 20% 1fr;
                grid-template-rows: repeat(4, auto);

                .invoice-id {
                    font-size: 15px;
                    font-weight: 700;
                    margin-top: 0;
                    grid-column: 1 / 2;

                    .hashtag-light {
                        color: #7E88C3;
                    }

                    .hashtag-dark {
                        color: #7E88C3;
                    }
                }

                .name {
                    font-size: 13px;
                    font-weight: 500;
                    margin-top: 0;
                    grid-column: -2 / -1;
                    text-align: right;

                }

                .due-date {
                    font-size: 13px;
                    font-weight: 500;
                    grid-row: 2 / 3;
                    margin-top: 8px;

                    &.due-date-light {
                        color: $secondary-color-light;
                    }

                    &.due-date-dark {
                        color: $secondary-color-dark;
                    }
                }

                .total {
                    font-size: 15px;
                    font-weight: 700;
                    grid-row: 4 / -1;
                    margin: 0;
                }

                .status-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    gap: 8px;
                    text-transform: capitalize;
                    border-radius: 6px;
                    grid-row: 2 / -1;
                    grid-column: -2 / -1;

                    p {
                        font-weight: 700;
                        font-size: 15px;
                    }
                }

            }
        }
    }

    .empty-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70vh;
        text-align: center;

        h1 {
            font-size: 24px;
            font-weight: 700;
            margin-top: 42px;
            margin-bottom: 23px;
        }

        p {
            font-size: 14px;
            font-weight: 500;
            line-height: 15px;

            span {
                font-weight: 700;
            }

            &.light {
                color: $secondary-color-light;
            }

            &.dark {
                color: $secondary-color-dark;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .main-container {
        margin-right: auto;
        margin-left: auto;

        .first-row {
            margin: 30px 0;
            max-width: unset;

            .left-col {
                h1 {
                    font-size: 36px;

                }
            }

            .right-col {
                gap: 42px;

                .dropdown-filter {
                    gap: 14px;

                }

                button {
                    width: 165px;
                    gap: 16px;
                    height: 48px;
                }
            }
        }

        .invoices-container {

            .invoice-hero {
                width: 100%;
                max-width: unset;
                height: auto;
                padding: 0 24px;
                height: 72px;

                a {
                    display: flex;
                    align-items: center;

                    .invoice-id {
                        margin: 0;
                        width: 58px;
                        margin-right: 28px;
                    }

                    .due-date {
                        margin: 0;
                        width: 105px;
                        margin-right: 50px;

                    }

                    .name {
                        margin: 0;
                        text-align: left;
                        width: 30%;
                    }

                    .total {
                        margin-left: auto;
                        margin-right: 40px;
                        width: 15%;
                    }

                    .status-container {
                        height: 40px;
                        width: 104px;
                        margin-right: 20px;
                    }
                }
            }

        }
    }

}

@media screen and (min-width: 1440px) {}