@import '../../styles/colors';
@import '../../styles/mixins';

.main-container {
    padding: 0 24px;

    .first-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 25px 0;
        width: 100%;

        .left-col {

            h1 {
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 0;
            }

            p {
                font-size: 13px;
                margin-top: 5px;

                &.secondary-dark {
                    color: $secondary-color-dark;
                }

                &.secondary-light {
                    color: $secondary-color-light;

                }
            }
        }

        .right-col {
            display: flex;
            gap: 18px;

            .dropdown-filter {
                display: flex;
                align-items: center;
                gap: 12px;
                cursor: pointer;

                p {
                    font-size: 15px;
                    font-weight: 700;
                }
            }

            button {
                width: 90px;
                border-radius: 24px;
                border: none;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 8px;
                background-color: #7C5DFA;
                padding: 6px;
                cursor: pointer;

                span {
                    font-size: 15px;
                    font-weight: 700;
                    color: #fff;
                    font-family: inherit;
                    margin-right: 15px;
                }
            }

        }
    }

    .invoices-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        .invoice-hero {
            border-radius: 8px;
            height: 134px;
            padding: 25px;
            width: 100%;
            max-width: 400px;

            &.invoice-hero-dark {
                @include dark-invoice
            }

            &.invoice-hero-light {
                @include light-invoice
            }

            a {
                text-decoration: none;
                color: inherit;
                height: 100%;
                display: grid;
                grid-template-columns: 1fr 20% 1fr;
                grid-template-rows: repeat(4, auto);

                .invoice-id {
                    font-size: 15px;
                    font-weight: 700;
                    margin-top: 0;
                    grid-column: 1 / 2;

                    .hashtag-light {
                        color: #7E88C3;
                    }

                    .hashtag-dark {
                        color: #7E88C3;
                    }
                }

                .name {
                    font-size: 13px;
                    font-weight: 500;
                    margin-top: 0;
                    grid-column: -2 / -1;
                    text-align: right;

                }

                .due-date {
                    font-size: 13px;
                    font-weight: 500;
                    grid-row: 2 / 3;
                    margin-top: 8px;

                    &.due-date-light {
                        color: $secondary-color-light;
                    }

                    &.due-date-dark {
                        color: $secondary-color-dark;
                    }
                }

                .total {
                    font-size: 15px;
                    font-weight: 700;
                    grid-row: 4 / -1;
                    margin: 0;
                }

                .status-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    gap: 8px;
                    text-transform: capitalize;
                    border-radius: 6px;
                    grid-row: 2 / -1;
                    grid-column: -2 / -1;

                    p {
                        font-weight: 700;
                        font-size: 15px;
                    }
                }

            }
        }
    }
}

@media screen and (min-width: 768px) {
    .main-container {
        padding: 0 48px;

        .first-row {
            margin: 30px 0;
            max-width: unset;

            .left-col {
                h1 {
                    font-size: 36px;

                }
            }

            .right-col {
                gap: 42px;

                .dropdown-filter {
                    gap: 14px;

                }

                button {
                    width: 165px;
                    gap: 16px;
                    height: 48px;
                }
            }
        }

        .invoices-container {
            .invoice-hero {
                width: 100%;
                max-width: unset;
                height: auto;
                padding: 0 24px;
                height: 72px;

                a {
                    display: flex;
                    align-items: center;

                    .invoice-id {
                        margin: 0;
                        width: 58px;
                        margin-right: 28px;
                    }

                    .due-date {
                        margin: 0;
                        width: 100px;
                        margin-right: 51px;

                    }

                    .name {
                        margin: 0;
                        text-align: left;
                        width: 30%;
                    }

                    .total {
                        margin-left: auto;
                        margin-right: 40px;
                        width: 10%;
                    }

                    .status-container {
                        height: 40px;
                        width: 104px;
                        margin-right: 20px;
                    }
                }
            }

        }
    }

}