.invoice-layout {

    .goback-container {
        margin: 33px 0;

        a {
            text-decoration: none;
            color: inherit;
            font-size: 15px;
            font-weight: 700;

            img {
                margin-right: 23px;

            }
        }
    }
}