@import '../../styles/mixins';

header {
    height: 72px;
    display: flex;
    align-items: center;
    
    &.header-light {
        background-color: #373B53;
    }
    &.header-dark {
        background-color: #1E2139;
    }

    .theme-icon {
        margin-left: auto;
        margin-right: 24px;
        cursor: pointer;
    }
    .avatar-container {

        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 24px;
        border-left: 1px solid #494E6E;
        img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
        }
    }
}

@media screen and (min-width: 768px) {
    header {
        height: 80px;
    }
}

@media screen and (min-width: 1440px) {
    header {
        height: 100%;
        width: 100%;
        flex-direction: column;
        border-radius: 0px 20px 20px 0px;
        .logo {
            width: 100%;
        }
        .theme-icon {
            margin: auto 0 27px 0;
        }

        .avatar-container {
            height: unset;
            border: none;
            padding: 24px 0;
            border-top: 1px solid #494E6E;
            width: 100%;

            img {
                width: 40px;
                height: 40px;
            }
        }
    }
}
