.dark-gray-btn {
    width: 73px;
      
    &.dark {
        background-color: #252945;
        color: #DFE3FA;
    }
    &.light {
        background-color: #F9FAFE;
        color: #7E88C3;
    }

}